@import "calendar";

.day {
  width: $day-width - 7;
  height: 193px;
  background-color: #ffffff;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 3px;
  margin: 0;

  &:nth-of-type(2n + 1) {
    background-color: #dfdfdf;
  }

  h2 {
    text-align: right;
    margin: 5px 0;
  }
}

.month {
  @each $day-name, $index in (monday: 1, tuesday: 2, wednesday: 3, thursday: 4, friday: 5, saturday: 6) {
    .#{$day-name}:first-of-type {
      margin-left: $day-width * $index;
    }
  }
}