@import "calendar";

.day {
  width: $day-width - 7;
  height: 193px;
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 0;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 3px;

  &:nth-of-type(7n + 0) {
    //border-right: none;
  }

  h2 {
    text-align: right;
    margin: 5px 0;
  }
}

.month {
  @each $day-name, $index in (monday: 1, tuesday: 2, wednesday: 3, thursday: 4, friday: 5, saturday: 6) {
    .#{$day-name}:first-of-type {
      margin-left: $day-width * $index;
    }
  }
}