.employee-list {
  position: absolute;
  z-index: 50;
  display: none;
  width: 194px;
  padding: 2px;
  margin: 0;
  list-style-type: none;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  background-color: white;

  &.visible {
    display: block;
  }

  .employee {
    display: block;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid black;

    &:last-of-type {
      border: none;
    }

    &:hover {
      background-color: lightblue;
    }
  }

  .close {
    text-align: right;

    &:hover {
      background-color: white;
      color: red;
    }
  }
}
