.shift {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  font-family: Helvetica, sans-serif;
  padding: 0 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }


  &.unassigned {
    background-color: red;
  }

  &.selected {
    background-color: lightblue;
  }
}