.shift {
  height: 25px;
  width: 186px;
  font-size: 12px;
  line-height: 25px;
  font-family: Helvetica, sans-serif;
  padding: 0 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &.ld {
    background-color: $color1;
  }

  &.ln {
    background-color: $color2;
  }

  &.c1, &.c2 {
    background-color: $color3;
  }

  &.hr {
    background-color: $color4;
  }

  &.fc {
    background-color: $color5;
  }

  &.unassigned {
    background-color: lightcoral;
    color: black;
  }

  &.selected {
    background-color: white;
  }
}
